.white__box{
    width:30rem;
    height:30rem;
    background-color: #fff;
    display: grid;
    align-content: space-evenly;
}
.effect{
    height: 3rem;
    width: 20rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.col4{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: space-around;
    row-gap: 1.5rem;
}
.submit{
    background-color: #007BFD;
    color: #fff;
}
.headline{
    font-size: 1.3rem;
}